<section class="donor-register-cls">
    <div class="donor-register-div">
        <div class="form-div1">
            <form></form>
        </div>
        <div class="form-div2">
            <p>Mohamed riyas</p>
        </div>
    </div>
</section>